services:
  discord-access:
    build:
      context: .
      dockerfile: Dockerfile
    #      args:
    #        ACCESS_FILE_CONFIG_PATH: 'src/config/config.empty.json'
    container_name: discord-access
    env_file:
      - .env.production
    # volumes:
    # - ./client_secrets.json:/app/client_secrets.json
    ports:
      - '3000:3000'
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres
    env_file:
      - .env.psql
    volumes:
      - pgdata:/var/lib/postgresql/data # https://stackoverflow.com/a/45606440
    restart: unless-stopped

volumes:
  pgdata: # https://stackoverflow.com/a/45606440
