# Flask
click==8.1.7
Flask==3.0.3
Werkzeug==3.0.3
gunicorn==22.0.0
six==1.16.0
python-dotenv==1.0.1
python-dateutil==2.9.0.post0

# Database
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.31
Flask-Migrate==4.0.7
sqlalchemy-json==0.7.0
cloud-sql-python-connector==1.11.0
pg8000==1.31.2

# API and Models
Flask-RESTful==0.3.10
marshmallow==3.21.3
marshmallow-sqlalchemy==1.0.0
flask-marshmallow==1.2.1
flask-apispec==0.11.4

# Security
Flask-Cors==4.0.1
flask-talisman==1.1.0
PyJWT==2.8.0
flask-oidc==2.2.0

# Requests
requests==2.32.3

# Error Reporting
sentry-sdk[flask]==1.44.1

# Okta
okta==2.9.7

# Plugins
pluggy==1.5.0

# Test - TODO: Move test packages to separate file
tox==4.16.0
# Lint
ruff==0.5.2
# Typing
mypy==1.10.1
types-google-cloud-ndb==2.3.0.20240311
types-Flask-Cors==4.0.0.20240405
types-Flask-Migrate==4.0.0.20240311
types-python-dateutil==2.9.0.20240316
types-requests==2.32.0.20240602
